In [6]:
# data_source https://www.kaggle.com/datasets/adeolaadesina/factors-affecting-children-anemia-level/data
import pandas as pd

df = pd.read_csv("1 - ordinal regression children anemia.csv")
df

,Age in 5-year groups,Type of place of residence,Highest educational level,Wealth index combined,Births in last five years,Age of respondent at 1st birth,Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal),Anemia level,Have mosquito bed net for sleeping (from household questionnaire),Smokes cigarettes,Current marital status,Currently residing with husband/partner,When child put to breast,Had fever in last two weeks,Hemoglobin level adjusted for altitude (g/dl - 1 decimal),Anemia level.1,"Taking iron pills, sprinkles or syrup"
0,40-44,Urban,Higher,Richest,1,22,NaN,NaN,Yes,No,Living with partner,Staying elsewhere,Immediately,No,NaN,NaN,Yes
1,35-39,Urban,Higher,Richest,1,28,NaN,NaN,Yes,No,Married,Living with her,Hours: 1,No,NaN,NaN,No
2,25-29,Urban,Higher,Richest,1,26,NaN,NaN,No,No,Married,Living with her,Immediately,No,NaN,NaN,No
3,25-29,Urban,Secondary,Richest,1,25,95.0,Moderate,Yes,No,Married,Living with her,105.0,No,114.0,Not anemic,No
4,20-24,Urban,Secondary,Richest,1,21,NaN,NaN,Yes,No,No longer living together/separated,NaN,Immediately,No,NaN,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33919,35-39,Rural,Secondary,Richer,2,19,120.0,Not anemic,Yes,No,Married,Living with her,NaN,No,120.0,Not anemic,Yes
33920,25-29,Rural,No education,Richer,1,27,120.0,Not anemic,Yes,No,Never in union,NaN,Hours: 1,No,120.0,Not anemic,No
33921,25-29,Rural,Higher,Richer,1,22,149.0,Not anemic,Yes,No,Married,Living with her,Hours: 1,No,119.0,Not anemic,No
33922,20-24,Rural,Secondary,Richer,1,21,123.0,Not anemic,Yes,No,Married,Living with her,Immediately,No,75.0,Moderate,Yes
33923,40-44,Rural,Secondary,Richest,1,35,NaN,NaN,No,No,Married,Living with her,Immediately,NaN,NaN,NaN,NaN

- **Age in 5-year groups**: 5 yÄ±llÄ±k yaÅŸ aralÄ±klarÄ± (Ã–rnek: 15-19, 20-24, ...)
- **Type of place of residence**: KatÄ±lÄ±mcÄ±nÄ±n yaÅŸadÄ±ÄŸÄ± yerin tÃ¼rÃ¼ (kentsel/kÄ±rsal)
- **Highest educational level**: Sahip olunan en yÃ¼ksek eÄŸitim seviyesi (Ã¶rnek: ilkokul, lise, Ã¼niversite)
- **Wealth index combined**: VarlÄ±k endeksi (hanehalkÄ±nÄ±n sosyoekonomik durumuna gÃ¶re gruplar)
- **Births in last five years**: Son 5 yÄ±lda gerÃ§ekleÅŸen doÄŸum sayÄ±sÄ±
- **Age of respondent at 1st birth**: Ä°lk doÄŸumda anne yaÅŸÄ±
- **Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)**: RakÄ±m ve sigara kullanÄ±mÄ±na gÃ¶re ayarlÄ± hemoglobin dÃ¼zeyi
- **Anemia level**: Anemi derecesi (Ã¶rneÄŸin: normal, hafif, orta, ÅŸiddetli)
- **Have mosquito bed net for sleeping**: HanehalkÄ±nÄ±n sivrisinek cibinliÄŸi sahipliÄŸi (Evet/HayÄ±r)
- **Smokes cigarettes**: Sigara iÃ§me durumu (Evet/HayÄ±r)
- **Current marital status**: GÃ¼ncel medeni durum
- **Currently residing with husband/partner**: EÅŸi/partneri ile birlikte yaÅŸama durumu (Evet/HayÄ±r)
- **When child put to breast**: Ã‡ocuk gÃ¶ÄŸÃ¼se ne zaman konuldu (doÄŸumdan hemen sonra, birkaÃ§ saat sonra vb.)
- **Had fever in last two weeks**: Son iki haftada ateÅŸ geÃ§irdi mi? (Evet/HayÄ±r)
- **Hemoglobin level adjusted for altitude (g/dl - 1 decimal)**: YÃ¼ksekliÄŸe gÃ¶re ayarlÄ± hemoglobin dÃ¼zeyi
- **Anemia level.1**: Anemi derecesinin alternatif bir Ã¶lÃ§Ã¼mÃ¼
- **Taking iron pills, sprinkles or syrup**: Demir desteÄŸi (hap, damla, ÅŸurup) alÄ±mÄ±

In [7]:
import pandas as pd

# Ã–rnek bir DataFrame oluÅŸturalÄ±m (siz kendi verinizi kullanacaksÄ±nÄ±z)


# Her sÃ¼tundaki benzersiz deÄŸerlerin sayÄ±sÄ±nÄ± bul
for col in df.columns:
    unique_count = df[col].nunique()
    print(f"SÃ¼tun: {col} --> FarklÄ± deÄŸer sayÄ±sÄ±: {unique_count}")

SÃ¼tun: Age in 5-year groups --> FarklÄ± deÄŸer sayÄ±sÄ±: 7
SÃ¼tun: Type of place of residence --> FarklÄ± deÄŸer sayÄ±sÄ±: 2
SÃ¼tun: Highest educational level --> FarklÄ± deÄŸer sayÄ±sÄ±: 4
SÃ¼tun: Wealth index combined --> FarklÄ± deÄŸer sayÄ±sÄ±: 5
SÃ¼tun: Births in last five years --> FarklÄ± deÄŸer sayÄ±sÄ±: 6
SÃ¼tun: Age of respondent at 1st birth --> FarklÄ± deÄŸer sayÄ±sÄ±: 34
SÃ¼tun: Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal) --> FarklÄ± deÄŸer sayÄ±sÄ±: 123
SÃ¼tun: Anemia level --> FarklÄ± deÄŸer sayÄ±sÄ±: 4
SÃ¼tun: Have mosquito bed net for sleeping (from household questionnaire) --> FarklÄ± deÄŸer sayÄ±sÄ±: 2
SÃ¼tun: Smokes cigarettes --> FarklÄ± deÄŸer sayÄ±sÄ±: 2
SÃ¼tun: Current marital status --> FarklÄ± deÄŸer sayÄ±sÄ±: 6
SÃ¼tun: Currently residing with husband/partner --> FarklÄ± deÄŸer sayÄ±sÄ±: 2
SÃ¼tun: When child put to breast --> FarklÄ± deÄŸer sayÄ±sÄ±: 41
SÃ¼tun: Had fever in last two weeks --> FarklÄ± deÄŸer sayÄ±sÄ±: 3
SÃ¼tun: Hemoglobin level adjusted for altitude (g/dl - 1 decimal) --> FarklÄ± deÄŸer sayÄ±sÄ±: 119
SÃ¼tun: Anemia level.1 --> FarklÄ± deÄŸer sayÄ±sÄ±: 4
SÃ¼tun: Taking iron pills, sprinkles or syrup --> FarklÄ± deÄŸer sayÄ±sÄ±: 3