In [6]:
# data_source https://www.kaggle.com/datasets/adeolaadesina/factors-affecting-children-anemia-level/data
import pandas as pd

df = pd.read_csv("1 - ordinal regression children anemia.csv")
df

,Age in 5-year groups,Type of place of residence,Highest educational level,Wealth index combined,Births in last five years,Age of respondent at 1st birth,Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal),Anemia level,Have mosquito bed net for sleeping (from household questionnaire),Smokes cigarettes,Current marital status,Currently residing with husband/partner,When child put to breast,Had fever in last two weeks,Hemoglobin level adjusted for altitude (g/dl - 1 decimal),Anemia level.1,"Taking iron pills, sprinkles or syrup"
0,40-44,Urban,Higher,Richest,1,22,NaN,NaN,Yes,No,Living with partner,Staying elsewhere,Immediately,No,NaN,NaN,Yes
1,35-39,Urban,Higher,Richest,1,28,NaN,NaN,Yes,No,Married,Living with her,Hours: 1,No,NaN,NaN,No
2,25-29,Urban,Higher,Richest,1,26,NaN,NaN,No,No,Married,Living with her,Immediately,No,NaN,NaN,No
3,25-29,Urban,Secondary,Richest,1,25,95.0,Moderate,Yes,No,Married,Living with her,105.0,No,114.0,Not anemic,No
4,20-24,Urban,Secondary,Richest,1,21,NaN,NaN,Yes,No,No longer living together/separated,NaN,Immediately,No,NaN,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33919,35-39,Rural,Secondary,Richer,2,19,120.0,Not anemic,Yes,No,Married,Living with her,NaN,No,120.0,Not anemic,Yes
33920,25-29,Rural,No education,Richer,1,27,120.0,Not anemic,Yes,No,Never in union,NaN,Hours: 1,No,120.0,Not anemic,No
33921,25-29,Rural,Higher,Richer,1,22,149.0,Not anemic,Yes,No,Married,Living with her,Hours: 1,No,119.0,Not anemic,No
33922,20-24,Rural,Secondary,Richer,1,21,123.0,Not anemic,Yes,No,Married,Living with her,Immediately,No,75.0,Moderate,Yes
33923,40-44,Rural,Secondary,Richest,1,35,NaN,NaN,No,No,Married,Living with her,Immediately,NaN,NaN,NaN,NaN

- **Age in 5-year groups**: 5 yıllık yaş aralıkları (Örnek: 15-19, 20-24, ...)
- **Type of place of residence**: Katılımcının yaşadığı yerin türü (kentsel/kırsal)
- **Highest educational level**: Sahip olunan en yüksek eğitim seviyesi (örnek: ilkokul, lise, üniversite)
- **Wealth index combined**: Varlık endeksi (hanehalkının sosyoekonomik durumuna göre gruplar)
- **Births in last five years**: Son 5 yılda gerçekleşen doğum sayısı
- **Age of respondent at 1st birth**: İlk doğumda anne yaşı
- **Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)**: Rakım ve sigara kullanımına göre ayarlı hemoglobin düzeyi
- **Anemia level**: Anemi derecesi (örneğin: normal, hafif, orta, şiddetli)
- **Have mosquito bed net for sleeping**: Hanehalkının sivrisinek cibinliği sahipliği (Evet/Hayır)
- **Smokes cigarettes**: Sigara içme durumu (Evet/Hayır)
- **Current marital status**: Güncel medeni durum
- **Currently residing with husband/partner**: Eşi/partneri ile birlikte yaşama durumu (Evet/Hayır)
- **When child put to breast**: Çocuk göğüse ne zaman konuldu (doğumdan hemen sonra, birkaç saat sonra vb.)
- **Had fever in last two weeks**: Son iki haftada ateş geçirdi mi? (Evet/Hayır)
- **Hemoglobin level adjusted for altitude (g/dl - 1 decimal)**: Yüksekliğe göre ayarlı hemoglobin düzeyi
- **Anemia level.1**: Anemi derecesinin alternatif bir ölçümü
- **Taking iron pills, sprinkles or syrup**: Demir desteği (hap, damla, şurup) alımı

In [7]:
import pandas as pd

# Örnek bir DataFrame oluşturalım (siz kendi verinizi kullanacaksınız)


# Her sütundaki benzersiz değerlerin sayısını bul
for col in df.columns:
    unique_count = df[col].nunique()
    print(f"Sütun: {col} --> Farklı değer sayısı: {unique_count}")

Sütun: Age in 5-year groups --> Farklı değer sayısı: 7
Sütun: Type of place of residence --> Farklı değer sayısı: 2
Sütun: Highest educational level --> Farklı değer sayısı: 4
Sütun: Wealth index combined --> Farklı değer sayısı: 5
Sütun: Births in last five years --> Farklı değer sayısı: 6
Sütun: Age of respondent at 1st birth --> Farklı değer sayısı: 34
Sütun: Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal) --> Farklı değer sayısı: 123
Sütun: Anemia level --> Farklı değer sayısı: 4
Sütun: Have mosquito bed net for sleeping (from household questionnaire) --> Farklı değer sayısı: 2
Sütun: Smokes cigarettes --> Farklı değer sayısı: 2
Sütun: Current marital status --> Farklı değer sayısı: 6
Sütun: Currently residing with husband/partner --> Farklı değer sayısı: 2
Sütun: When child put to breast --> Farklı değer sayısı: 41
Sütun: Had fever in last two weeks --> Farklı değer sayısı: 3
Sütun: Hemoglobin level adjusted for altitude (g/dl - 1 decimal) --> Farklı değer sayısı: 119
Sütun: Anemia level.1 --> Farklı değer sayısı: 4
Sütun: Taking iron pills, sprinkles or syrup --> Farklı değer sayısı: 3